/*-- scss:defaults --*/

//import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// Fonts
$sen: "Sen", sans-serif;

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #a8a8c9;
$orange: #ad7237;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color


/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-family: $sen;
}

h1, h2 {
  letter-spacing: 1px;
  font-weight: 650; // Google fonts tells you which weights your chosen font family allows for!
}

.title {
  color: #39481f; //dark green
}

.center-text {
  text-align: center;
}

.orange-text {
  color: $orange;
}

.navbar-brand img {
  height: 80px;
  width: auto;
}

.navbar-logo { // this doesn't work
  height: 60px;
  width: auto;
}

#bio {
  text-align: center;
  margin: 0 auto;
  max-width: 800px; /* nice readable width */
  padding: 2rem;    /* add some breathing room */
}
